<?xml version="1.0" ?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gazebo_launch" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
<group if="$(arg gazebo_launch)">
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
</group>

  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- Conveyor spawning in gazebo -->
 <param name="conveyor_description" command="$(find xacro)/xacro $(find ur3e_irl_project)/urdf/conveyor_g_path.urdf.xacro gazebo:=true"/> 
 <node args="-urdf -param conveyor_description -model conveyor_table -x -0.6 -y 0.18" name="spawn_conveyor" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>

  <!-- ros_control rrbot launch file -->
  <!--include file="$(find ur3e_irl_project)/launch/conveyor_control.launch" /-->
</launch>
