<?xml version="1.0" encoding="utf-8"?>
<launch>
<!--  EDITED BY Prasanth Suresh(ps32611@uga.edu). -->

  <param name="good_onion_path" type="str" value="$(find ur3e_irl_project)/sdf/onion.sdf"/>
  <param name="bad_onion_path" type="str" value="$(find ur3e_irl_project)/sdf/onion_bad.sdf"/>
  <param name="ConveyorWidthRANGE_UPPER_LIMIT" value="0.94" type="double"/>
  <param name="ConveyorWidthRANGE_LOWER_LIMIT" value="0.56" type="double"/>
  <param name="ObjectPoseZ_RANGE_UPPER_LIMIT" value="0.83" type="double"/>
  <param name="ObjectPoseZ_RANGE_LOWER_LIMIT" value="0.78" type="double"/>
  <param name="initial_pose_y_to_RANGE_LIMIT" value="-0.05" type="double"/>
  <param name="initial_pose_x" value="0.0" type="double"/>	<!-- x = 0.9 -->
  <param name="initial_pose_y" value="0.2" type="double"/>	<!-- y = -0.59 -->
  <param name="conveyor_center_x" value="0.75" type="double"/>
  <param name="belt_width" value="0.3" type="double"/>
  <param name="height_spawning" value="1.2" type="double"/>
  <param name="spawning_interval" value="11" type="double"/>
  <param name="spawn_multiple" value="1" type="bool"/>
  <param name="object_width" value="0.09" type="double"/>
  <node name="onion_blocks_spawner" pkg="ur3e_irl_project" type="onion_blocks_spawner" output="screen">
  </node>
  
</launch>
