<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- This argument dictates whether gazebo should be launched in this file -->
  <arg name="load_gazebo" default="true"/>
  <!-- We resume the logic in empty_world.launch, changing the name of the world to be launched -->
  <include if="$(arg load_gazebo)" file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur3e_irl_project)/worlds/test.world"/>
  </include>

</launch>
